# MongoDB connection
MONGO_URI=mongodb://127.0.0.1:27017

# Project database
MONGO_DATABASE=bigdata_midterm

# File Router threshold in MB
SMALL_FILE_THRESHOLD_MB=200

# Python Batch size
BATCH_SIZE=5000

# Spark execution mode
SPARK_MASTER=local[*]
